name: test docs
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  test-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
      - name: Install
        run: npm ci
      - name: Check links
        run: npm test
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: './_build/html'
